%table.table.table-striped
  %tbody
    - comments.each do |comment|
      %tr
        %td
          %h4
            =comment.content
          %p
            ="Created " + time_ago_in_words(comment.created_at) + ", by " + comment.user.name
