%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
- if @comments.any?
  %h4 Comments:
  .row
    .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
      =render 'comments/comment', comments: @movie.comments
